<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- CSS only -->
    <link th:href="@{/css/layout1.css}" rel="stylesheet">

    <!-- Jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

</head>
<body>

    <div th:replace="fragments/header::header"></div>

    <div layout:fragment="content" class="content">


    </div>

    <div th:replace="fragments/footer::footer"></div>

</body>
</html>