<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}">

    <!-- 해당 HTML의 CSS 및 JS 주소를 입력하면 됨. -->
<th:block layout:fragment="script"></th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/user_join.css}">
</th:block>

<head>
    <title>로그인 페이지</title>

    <link rel="stylesheet" th:href="@{/css/user_login.css}">

</head>


<div layout:fragment="content">

    <div class="login-wrap">

        <form class="login-form" id="join-form" method="post" th:action="@{/user/login}">

            <!-- id -->
            <div class="input-container id">
                <div>
                    <p>아이디</p>
                </div>
                <div>
                    <input type="text" id="user_id" name="user_id">
                </div>
                <div class="input-ajax">
                    <p class="dup-id"></p>
                </div>
            </div>

            <!-- password -->
            <div class="input-container password">
                <div>
                    <p>비밀번호</p>
                </div>
                <div>
                    <input type="password" id="user_pw" name="user_pw">
                </div>
            </div>

            <!-- login button -->
            <div class="btn-container">
                <button type="submit" class="login-btn">로그인</button>
            </div>

        </form>

    </div>

    <!-- JS -->
    <script type="text/javascript" src="/js/user_login.js"></script>

</div>

</html>