<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}">

<head>
    <title>로그인 페이지</title>

    <link rel="stylesheet" th:href="@{/css/user_password_security.css}">
    
</head>


<div layout:fragment="content">

    <div class="security-password-wrap">

        <form class="security-password-form" id="security-password-form" method="post" th:action="@{/user/userTest}">

            <!-- password -->
            <div class="input-container password">
                <div class="input-rePassword">
                    비밀번호 확인
                </div>
                <div>
                    <span th:text="${session.user_id}"></span>
                    <span>님의 개인 정보 보호를 위해 비밀번호를 한 번 더 입력해주세요.</span>
                </div>
                <div>
                    <input type="text" id="user_id" name="user_id" th:value="${session.user_id}" readonly>
                    <input type="password" id="user_pw" name="user_pw">
                </div>
            </div>

            <!-- login button -->
            <div class="btn-container">
                <button type="submit" class="login-btn">확인</button>
            </div>

        </form>

    </div>

    <!-- JS -->
    <script type="text/javascript" src="/js/user_modify.js"></script>

</div>

</html>