<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}">

<head>
    <title>회원가입 페이지</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/user_join.css}">

</head>

<div layout:fragment="content">

    <div class="join-wrap">

        <form class="join-form" id="join-form" method="post" th:action="@{/user/join}">

            <!-- id -->
            <div class="input-container id">
                <div>
                    <p>아이디</p>
                </div>
                <div>
                    <input type="text" id="user_id" name="user_id" onblur="idCheck()">
                </div>
                <div class="input-ajax">
                    <div class="dup-id"></div>
                    <div class="check-id"></div>
                </div>
            </div>

            <!-- password -->
            <div class="input-container password">
                <div>
                    <p>비밀번호</p>
                </div>
                <div>
                    <input type="password" id="user_pw" class="u_pw" name="user_pw">
                </div>
            </div>

            <!-- rePassword -->
            <div class="input-container rePassword">
                <div>
                    <p>비밀번호 확인</p>
                </div>
                <div>
                    <input type="password" id="user_rePw" class="u_pw" name="user_rePw">
                </div>
                <div class="input-ajax">
                    <div class="cor-pw"></div>
                    <div class="check-pw"></div>
                </div>
            </div>

            <!-- nickname -->
            <div class="input-container nick-name">
                <div>
                    <p>닉네임</p>
                </div>
                <div>
                    <input type="text" id="user_nick" name="user_nick">
                </div>
                <div class="input-ajax">
                    <div class="dup-nick"></div>
                    <div class="check-nick"></div>
                </div>
            </div>

            <!-- email -->
            <div class="input-container email">
                <div>
                    <p>이메일</p>
                </div>
                <div>
                    <input type="email" id="user_email" name="user_email">
                </div>
                <div class="input-ajax">
                    <div class="dup-email"></div>
                    <div class="check-email"></div>
                </div>
            </div>

            <!-- join button -->
            <div class="btn-container">
                <button type="button" class="join-btn" id="userSubmit">회원 가입</button>
            </div>

        </form>

    </div>

    <!-- JS -->
    <script type="text/javascript" src="/js/user_join.js"></script>

</div>

</html>